<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Protection Log</title>
    <link rel="stylesheet" href="/static/plant.css">
</head>
<body>
    <h1>Plant protection log</h1>
    <form method="POST">
                
        <div>
            <div>
                <label for="date">Date</label>
                <input type="date" id="date" name="date" required>
            </div>
            
            <div>
                <label for="date">Chemical</label>
                <input type="text" id="chemical" name="chemical" required>
            </div>

            <div>
                <label for="date">Plant</label>
                <input type="text" id="plant" name="plant" required>
            </div>

            <div>
                <label for="date">Area</label>
                <input type="text" id="area" name="area" required>
            </div>
            <div>

                <label for="date">Comment</label>
                <input type="text" id="comment" name="comment">
            </div>
            
            <div>
                <input type="submit" name ="submit_btn" value="Record">
                
            </div>
            
        </div>
    
    </form>
    <form method="POST"><input type="submit" name ="submit_btn" value="Show records"></form>
</body>
</html>