<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plant Protection Log</title>
    <!-- <link rel="stylesheet" href="/static/plant.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center alert alert-primary col-6 mx-auto">Plant protection log</h1>
    <table class="table table-striped table-hover alert alert-primary">
        <tr>
            <th>Id.</th>
            <th>Date</th>
            <th>Chemical</th>
            <th>Plant</th>
            <th>Area</th>
            <th>Comment</th>
        </tr>
        {% for item in items %}
        <TR>
           <TD class="c2">{{item.id}}</TD>
           <TD class="c3">{{item.dated}}</TD>
           <TD class="c4"><SPAN>{{item.chemical}}</SPAN></TD>
           <TD class="c5"><SPAN>{{item.plant}}</SPAN></TD>
           <TD class="c6"><SPAN>{{item.area}}</SPAN></TD>
           <TD class="c7"><SPAN>{{item.comment}}</SPAN></TD>
        </TR>
        {% endfor %}
    </table>
</body>
</html>