<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Protection log</title>
    <link rel="stylesheet" href="/static/plant.css">
</head>
<body>
    <h1>Plant protection log</h1>
    <table>
  <tr>
    <th>Id.</th>
    <th>Date</th>
    <th>Chemical</th>
    <th>Plant</th>
    <th>Area</th>
    <th>Comment</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
</body>
</html>