<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Protection Log</title>
    <link rel="stylesheet" href="/static/plant.css">
</head>
<body>
    <h1>Plant protection log</h1>
    <table>
        <tr>
            <th>Id.</th>
            <th>Date</th>
            <th>Chemical</th>
            <th>Plant</th>
            <th>Area</th>
            <th>Comment</th>
        </tr>
        {% for item in items %}
        <TR>
           <TD class="c2">{{item.id}}</TD>
           <TD class="c3">{{item.dated}}</TD>
           <TD class="c4"><SPAN>{{item.chemical}}</SPAN></TD>
           <TD class="c5"><SPAN>{{item.plant}}</SPAN></TD>
           <TD class="c6"><SPAN>{{item.area}}</SPAN></TD>
           <TD class="c7"><SPAN>{{item.comment}}</SPAN></TD>
        </TR>
        {% endfor %}
    </table>
</body>
</html>